html,body{
  background-color: #151c39;
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0px !important;
  padding: 0px !important;
}

*{
  text-decoration: none;
  color: #fff;
}

.header{
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  background-color: #151c39;
}

.logo{
  display: inline-block;
  position: relative;
  margin-left: 120px;
}

.logo img{
  width: 150px;
  height: 40px;
  object-fit: contain;
  margin: 5px auto;
}

/* LANDING CSS */

.landing{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8vw 0 8vw;
  height: 90vh;
}

.landingText h1{
  font-size: 5vw;
  margin: 0 !important;
}

.landingText h3{
  margin: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f2cc8f;
  opacity: 0.75;
}

.landingText .btn{
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #2f8be0;
  color: #fff;
  border-radius: 45px;
  text-align: center;
  font-size: 14px;
}

.landingText .btn:hover{
  background-color: #e07a5f;
  transition-duration: 0.5s;
}

.fa-gitlab, .fa-edit{
  margin-right: 8px;
}

.landingImage img{
  width: 45vw;
}

/* FOOTER CSS */

.footer{
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px auto;
  font-size: 14px;
  text-align: center;
}

/* RESPONSIVE */

@media only screen and (max-width: 540px){

.header{
  text-align: center;
  height: 40px;
  overflow-y: hidden;
}

.logo{
  margin-left: 0px;
}

/* LANDING PAGE */

.landing{
  flex-direction: column-reverse;
  height: 600px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 60px 0;
}

.landingText h1{
  font-size: 6vw;
  margin: 0 !important;
}

.landingText h3{
  font-size: 16px;
}

.landingImage img{
  width: 80vw;
  margin: 30px auto;
}